<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: 'Title of your Note' %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Let's write the note" %>
  </div>
  <div class="actions">
    <%= f.submit "Let's save" %>
  </div>
<% end %>