<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @note.content %>
</p>

<div id="links">
	<%= link_to 'Home', notes_path %> |
	<%= link_to 'Edit note', edit_note_path(@note) %> |
	<%= link_to 'Delete note', @note, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'Back', notes_path %>
</div>